.view-city::after{
position: absolute;
content: '';
width: 100%;
height: 100%;
background: linear-gradient(2.12deg, rgba(39, 59, 74, 0.801) 14.81%, rgba(68, 68, 68, 0.774) 52.89%, rgba(196, 197, 199, 0.70155) 86.64%, rgba(255, 255, 255, 0.234) 98.21%);
top: 0;
left: 0;
border-radius: 13.94px;
}