.header-home{
    position: relative;
    background-image: url('../assets/bg-header.jpg');
    background-position: center;
    background-size: cover;
display: flex;
flex-direction: column;
align-items: center;

}
.header-home::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(19, 78, 136, 0.6),rgba(75, 75, 75, .5));
    top: 0;
    left: 0;
z-index: 1;
}


.hero-down{
    z-index: 1;
}
.main-header{
    z-index: 2;
}